# Default values for omero-web.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: openmicroscopy/omero-web-standalone
  tag: 5.14.0-1
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

prefix: /
serverList:
  - ["omero-server", 4064, "omero"]
config:
  # Set to a multiline string (|) to override the default webapps config
  # https://github.com/ome/omero-web-docker/blob/5.14.0-1/standalone/01-default-webapps.omero
  defaultWebapps:
  set: {}
  append: []
  appendJson: []

securityContext:
  enabled: true
  runAsUser: 999

service:
  type: ClusterIP
  port: 80
  # Optionally set an existing IP for type: LoadBalancer
  loadBalancerIP:

ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  enabled: true
  architecture: standalone
  # TODO: Use the autogenerated redis secret instead
  auth:
    password: ChAnGeMe
