# Default values for omero-server.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: openmicroscopy/omero-server
  tag: 5.6.3-3
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

databaseHost:
defaultRootPassword: ChAnGeMe
config:
  set: {}
  append: []

certificates:
  # Generate self-signed SSL certificates with the omero-certificates plugin
  enabled: true

websockets:
  enabled: false
  # If true secure websockets (wss) are always enabled. If you are using an
  # ingress with wss it must support self-signed certificates for
  # ingress -> pod communication
  # Otherwise set this to false to also enable plain websockets (ws) for
  # ingress traffic
  encrypted: true
  path: /omero-ws

securityContext:
  enabled: true
  fsGroup: 2000
  runAsUser: 1000

persistence:
  enabled: true
  existingClaim:
  storageClass:
  accessModes:
    - ReadWriteOnce
  annotations: {}
  size: 8Gi
  subPath:

service:
  type: ClusterIP
  port: 4064
  wsport: 4065
  wssport: 4066
  # Optionally set an existing IP for type: LoadBalancer
  loadBalancerIP:
  affinity:
    enabled: true
    clientTimeout: 3600

# Only used for omero-wss
ingress:
  enabled: false
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 4000m
  #  memory: 32768Mi
  # requests:
  #  cpu: 1000m
  #  memory: 2048Mi

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  enabled: true
  # See https://github.com/bitnami/charts/tree/master/bitnami/postgresql#parameters
  image:
    tag: "10"
  postgresqlUsername: omero
  # TODO: Use the autogenerated postgres secret instead
  postgresqlPassword: ChAnGeMe
  postgresqlDatabase: omero
  # persistence:
  #   enabled:
  #   existingClaim:
  #   storageClass:
  #   accessModes:
  #   annotations:
  #   size:
  #   subPath:
  #   mountPath:
  # resources:
